* {
    background-color: antiquewhite;
    color: rgba(0, 0, 0, 0.925);
    font-size: 32px;
    margin: 10px 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
    font-size: xxx-large;
}

.recipes {
    text-align: left;
}